
      <h1>{{cbue.name}}</h1>
      <img class="cube" src={{cube.imaegUrl}}>
      <div class="details">
        <p><span>Description:</span>{{cube.description}}</p>
        <p><span>{{cube.DifficultyLevel}}</span> 3</p>
        <a class="btn" href="/">Back</a>
      </div>
    </main>
  